<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cruise Wise - Caribbean Cruise Search</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/inputs.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link rel="stylesheet" type="text/css" media="print" href="/stylesheets/print.css" />
<!--[if IE]><link href="css/styles-ie.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 6]>
<%= javascript_include_tag 'DD_belatedPNG' %>
<script> DD_belatedPNG.fix('.png');</script>
<![endif]-->

<%= javascript_include_tag 'application' %>

<%= yield :head %>
</head>
<body>
<div class="all inner">
  <div class="all-l">
    <div class="all-r">
      <div class="all-lt">
        <div class="all-rt">
          <div class="main-top">
            <div class="panelA"> <a href="#" class="logo"></a> </div>
            <div class="panelB">
              <%= yield :header %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="main-content">
            <%= yield :content %>
            <div class="clear"></div>
          </div>
          <div class="clear">
            <!-- -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
